<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web">
			<section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="QJVRMS.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- Boss模拟登陆 ，为客户演示添加的-->
		<add key="fromBossUserName" value="dmadmin"></add>
		<add key="fromBossPassword" value="123"></add>
		<!-- 管理员的邮箱，接收订单的 -->
		<add key="smtpHost" value="smtpcom.263xmail.com"></add>
		<add key="smtpUserName" value="gaoke@quanjing.com"></add>
		<add key="smtpPassword" value="kers1234"></add>
		<add key="mailFrom" value="gaoke@quanjing.com"></add>
		<add key="mailTo" value="qjtest@126.com"></add>
		<add key="mailSubject" value="新订单"></add>
		<!-- 超级管理员 ID-->
		<add key="superAdminId" value="BD199147-66A7-4D2B-BC4E-0A57667D5796"/>
		<add key="cookieTimeout" value="30"/>
		<add key="repeatColor" value="#ca4a04;#f8eacb,#007ccd;#9bcbea,#6cab00;#c1e583,#b50062;#ed9cc8,#0baa87;#8febd7,#c3ac0a;#efe397"/>
		<add key="DomainName" value="Benz.com"/>
		<add key="DomainNamePrefix" value="Benz"/>
		<!--需要配置-->
		<!--	原始资源存储路径 应用程序账号需要有该目录的读写权限-->
		<add key="imageSourcePath" value="d:\MyProject\Benz\Storage\Images\source"/>
		<add key="videoSourcePath" value="d:\MyProject\Benz\Storage\video\source"/>
		<add key="documentSourcePath" value="d:\MyProject\Benz\Storage\document\source"/>
		<add key="otherSourcePath" value="d:\MyProject\Benz\Storage\Other\source"/>
		<!-- 各种附加文件的存储路径 ，如预览图等 -->
		<add key="imagePreviewPath" value="d:\MyProject\Benz\Storage\Images\preview"></add>
		<add key="videoPreviewPath" value="d:\MyProject\Benz\Storage\video\preview"></add>
		<add key="documentPreviewPath" value="d:\MyProject\Benz\Storage\document\preview"></add>
		<!-- 预览的地址，以虚拟目录的方式提供 -->
		<add key="imagePreviewPath_Read" value="http://localhost:8009/imagePreview/"/>
		<add key="videoPreviewPath_Read" value="http://localhost:8009/videoPreview/"/>
		<!-- 索引服务，远程地址。 1：使用索引 0：不使用索引 -->
		<add key="RemoteServer" value="localhost:1819"/>
		<add key="isUsingIndex" value="0"/>
		<!-- 域名 -->
		<add key="website_title" value="Benz影像管理平台"/>
		<!-- 需要按照机构浏览图片的分类ID,以逗号分隔-->
		<add key="ViewByDept" value="ced9ff57-0359-4cfc-b0b9-3e6522404c76,9a071d23-be77-417a-b80e-2a6519dee63c,be499c9c-c372-4bf6-acda-dfde69746e70"/>
		<!-- 是否用AD验证 1:是 0:否-->
		<add key="AuthByAD" value="0"/>
		<!--采用远程用户接口url来验证用户，1：是，采用远程用户 0：不采用，采用系统内部用户-->
		<add key="AuthByRemote" value="0"/>
		<!---后台拍摄申请的ID-->
		<add key="OrderNewFunctionId" value="257be0db-3c51-458d-913c-b568bef7b154"/>
		<!---远程用户验证接口Url-->
		<add key="RequestUrl" value="http://localhost:8009/bossLogin.aspx"/>
		<add key="LoginNameParamName" value="username"/>
		<add key="PasswordParamName" value="password"/>
		<add key="IPParamName" value="ip"/>
		<!--默认用户的角色ID-->
		<add key="RoleID" value="F3E051F8-8333-4A09-9451-B57CB3DF8999"/>
		<!-- 需要配置END-->
	</appSettings>
	<system.web>
		<pages theme="MainSkin" enableEventValidation="false" validateRequest="false" enableSessionState="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true" tempDirectory="D:\UploadTempFolder" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<!-- <authentication mode="Windows" /> -->
		<authentication mode="Forms">
			<forms loginUrl="Secure/Login.aspx" name=".QJDAM91" path="/" protection="All" defaultUrl="/Default.aspx"/>
		</authentication>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
    -->
		<customErrors mode="Off" defaultRedirect="error.aspx">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<httpRuntime executionTimeout="60000" maxRequestLength="1048576" appRequestQueueLimit="100" useFullyQualifiedRedirectUrl="false"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="auto" uiCulture="auto"/>
	</system.web>
	<applicationSettings>
		<QJVRMS.Business.Properties.Settings>
			<!-- WebService 地址需要配置-->
			<setting name="QJVRMS_Business_DmDa_DMDataAccess" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/DMDataAccess.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_BizData_BizService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/BizService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_BaseInfoWS_BaseInfoService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/BaseInfoService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_CatalogWS_CatalogService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/CatalogService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_GroupWS_GroupService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/GroupService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_RoleWS_RoleService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/RoleService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_UserWS_UserService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/UserService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_MemWS_MemberShipService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/MemberShipService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_ObjectRuleWS_ObjectRuleService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/ObjectRuleService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_SearchWS_SearchService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/SearchService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_FunctionWS_FunctionService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/FunctionService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_ImageStorageWS_ImageStorageService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/ImageStorageService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_CallbackWS_CallbackService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/CallbackService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_localhost_VideoStorageService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/VideoStorageService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_ResourceWS_ResourceService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/ResourceService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_FeatureWS_ResourceService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/FeatureService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_FeatureWS_FeatureService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/FeatureService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_NoticeWS_NoticesService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/NoticesService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_CalendarWS_CalendarService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/CalendarService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_KeywordWS_KeywordService" serializeAs="String">
				<value>http://localhost:8091/DmDataAccess/KeywordService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_LogWS_LogService" serializeAs="String">
				<value>http://localhost:8091/DMDataAccess/LogService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_GiftService_GiftService" serializeAs="String">
				<value>http://localhost:8091/DMDataAccess/GiftService.asmx</value>
			</setting>
			<setting name="QJVRMS_Business_OrdersService_OrdersService" serializeAs="String">
				<value>http://localhost:8091/DMDataAccess/OrdersService.asmx</value>
			</setting>
		</QJVRMS.Business.Properties.Settings>
	</applicationSettings>
</configuration>
